extends base.pug

block title
  title Mental Mate - Meditate

append css
  //- aniamtion library
  link(
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"
  )
  //- custom css
  link(
    rel="stylesheet"
    href="/static/css/meditate.css"
  )

append css
  style(type="text/css").
    html {
      --gradient-1: #{gradient.one};
      --gradient-2: #{gradient.two};
    }

block content
  #root.animated.fadeIn
  script(src="/static/js/meditate-bundle.js")