html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    
    title Mental Mate - #{title}}

    block fonts
      link(
        href='https://fonts.googleapis.com/css?family=Varela+Round'
        rel='stylesheet'
      )
    
    block css
      link(
        href='/static/css/bulma.css' 
        rel='stylesheet'
      )
    block icons
      script(
        src='https://use.fontawesome.com/releases/v5.0.6/js/all.js'
        defer=true
      )
  body
    block content